In [1]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('user_data.db')
cursor = conn.cursor()

# Execute the SQL query to select data from the database
cursor.execute('SELECT * FROM user_data')

# Fetch all the rows
rows = cursor.fetchall()

# Close the database connection
conn.close()

# Create a Pandas DataFrame from the retrieved data
column_names = ["ID", "radius_mean", "perimeter_mean", "area_mean", "concavity_mean", "concave_points_mean", "area_se", "radius_worst", "perimeter_worst", "area_worst", "concavity_worst", "concave_points_worst", "Predicted_Class"]
df = pd.DataFrame(rows, columns=column_names)

# Convert the 'Predicted_Class' column from bytes to integers with little-endian byte order
df['Predicted_Class'] = df['Predicted_Class'].apply(lambda x: int.from_bytes(x, byteorder='little'))

# Display the DataFrame as a table
df

,ID,radius_mean,perimeter_mean,area_mean,concavity_mean,concave_points_mean,area_se,radius_worst,perimeter_worst,area_worst,concavity_worst,concave_points_worst,Predicted_Class
0,1,0.02,-0.04,0.03,-0.02,0.04,-0.03,0.03,-0.03,0.03,-0.05,0.05,0
1,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
2,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
3,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
4,5,0.06,0.03,0.15,0.04,0.13,0.17,0.04,0.09,0.20,0.03,0.13,1
5,6,0.07,0.03,0.15,0.04,0.13,0.17,0.05,0.09,0.20,0.03,0.13,1